body {
    background-color: rgb(233, 255, 249);
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 125vh;
}

header {
    background-color: #D64045;
    text-align: center;
    padding: .5rem 1rem;
    color: #E9FFF9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 25px 0 black;
}

    header * {
        display: flex;
        justify-content: space-between;
    }

        header div {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

            header div h2 {
                padding-left: 7px;
            }

            header img {
                height: 50px;
            }

        header li a {
            text-decoration: none;
            color: rgb(233, 255, 249);
            padding: .25rem;
            font-weight: 700;
        }

content {
    display: flex;
    flex-direction: column;
    padding: 0 1.25rem;
}

    h1 {
        text-align: center;
    }

    .intro {
        margin: 0;
    }

    .form-values {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3rem 3rem 2rem 3rem;
        gap: 2.75rem;
    }

        .big_container {
            display: flex;
            justify-content: space-between;
        }

            .container {
                /*Show the label at desired position when the placeholder of input isn't shown*/
                position: relative;
            }

                .input:not(:placeholder-shown) + .hidden_label {
                        /* background: #ffffff; */
                        transform: translate(0, -50%);
                        opacity: 1;
                }
            
                .hidden_label {
                    /* Position the label */
                    left: 88px;
                    position: absolute;
                    top: 0;
                    font-size: 36px;
                
                    /* Hide it by default */
                    opacity: 0;
                    transition: all 200ms;
                }
            
            .container input {
                margin: 0 5rem;
                padding: .5rem;
                width: 300px;
                height: 60px;
                font-size: 36px;
                border: none;
                border-bottom: 3px black solid;
            }

                .form-values input:focus {
                    outline: none;
                }

        .form-values button {
            width: 300px;
            height:60px;
            font-size: 36px;
            border-radius: 15px;
        }

    .priceOne, .priceTwo {
        margin: .5rem 0;
        padding: .5rem;
        border: 1px solid #1D3354;
        flex-direction: column;
        gap: .75rem;
        color: black;
        display: flex;
    }
    
        .priceOne {
            background-color: rgba(242, 132, 130, 0.5);
        }

        .priceTwo {
            background-color: rgba(109, 163, 77, 0.5);
        }

            .priceOne p, .priceTwo p {
                margin: 0;
            }
            
            .priceOne h2, .priceTwo h2 {
                margin: 0;
            }

    .fade {
    display: none;
    opacity: 0;
    -webkit-transition: all 1.25s ease-in;
    -moz-transition: all 1.25s ease-in;
    -ms-transition: all 1.25s ease-in;
    -o-transition: all 1.25s ease-in;
    transition: all 1.25s ease-in;
    }


