body {
    background-color: rgb(233, 255, 249);
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 125vh;
}

header {
    background-color: #D64045;
    text-align: center;
    padding: 1rem;
    color: #E9FFF9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 25px 0 black;
}

    header div {
        display: flex;
        align-items: center;
    }

        header div h2 {
            padding-left: 7px;
        }

    header img {
        height: 50px;
    }

    header * {
        display: inline;
    }

    header li a {
        text-decoration: none;
        color: rgb(233, 255, 249);
        padding: .25rem;
    }

content {
    display: flex;
    flex-direction: column;
    padding: 0 1.25rem;
}

    h1 {
        text-align: center;
    }

    .intro {
        margin: 0;
    }

    .form-values {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: .75rem;
    }

    .form-values div {
        display: flex;
        flex-direction: column;
        padding: .5rem;
    }

    .form-values input, .form-values button {
        padding: .5rem;
    }

    .priceOne, .priceTwo {
        margin: .5rem 0;
        padding: .5rem;
        border: 1px solid #1D3354;
        display: flex;
        flex-direction: column;
        gap: .75rem;
    }
    
    .fade { 
    opacity: 0;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    }

        .priceOne {
            background-color: rgba(242, 132, 130, 0.5);
            color: black;
        }

        .priceTwo {
            background-color: rgba(109, 163, 77, 0.5);
            color: black;
        }

        .priceOne p, .priceTwo p {
            margin: 0;
        }
