body {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #E9FFF9;
}

header {
    background-color: #D64045;
    text-align: center;
    width: 100%;
    color: #E9FFF9;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 0 25px 0 black;
}


        header div {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

            header div h2 {
                padding-left: 10px;
            }

            header img {
                height: 50px;
            }


        header ul {
            list-style: none;
            padding-inline-start: 0;
        }
            
            ul li {
                display: inline-block;
                padding: 0 0.5rem;
                min-width: 6rem;
                text-align: center;
                height: 100%;
            }

            ul li:not(:last-child) {
                border-right: 2px solid black;
            }

                header a {
                    text-decoration: none;
                    color: rgb(233, 255, 249);
                    font-weight: 700;
                }



content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

    main {
        flex: 50%;
        display: flex;
        flex-direction: column;
        min-width: 50%;
        padding-bottom: 2rem;
        text-align: center;
        justify-content: center;
        align-content: center;
    }
    
    .intro {
        width: 50%;
    }

        p {
            margin-left: auto;
            margin-right: auto;
            font-size: 1.1rem;
        }

        h2 {
            text-decoration: underline;
            margin-bottom: 0.5rem;
        }

        .instructions {
            list-style: none;
            padding-inline-start: 0;
            margin: 0;
            font-size: 1.1rem;
        }

        /* .form-values {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 1rem 3rem 0rem 3rem;
            gap: 2.75rem; 
            background-color: #E9FFF9;
        } */

        main container {
            flex:1;
            margin-top: 2rem;
        }

            .bigContainer {
                background-color: #E9FFF9;
                height: 282px;
                padding-top: 30px;
                width: 500px;
            }

                .smallContainer {
                    /*Show the label at desired position when the placeholder of input isn't shown*/
                    flex: 1;
                    position: relative;
                    width: fit-content;
                    height: fit-content;
                    padding: 20px;
                }

                    .input:not(:placeholder-shown) + .hidden_label {
                            transform: translate(0, -50%);
                            opacity: 1;
                    }
                
                    .hidden_label {
                        /* Position the label */
                        left: 32px;
                        position: absolute;
                        top: -42px;
                        font-size: 36px;
                    
                        /* Hide it by default */
                        opacity: 0;
                        transition: all 200ms;
                    }
                
                .smallContainer input {
                    margin: 2rem 0;
                    padding: 1rem;
                    width: 300px;
                    height: 60px;
                    font-size: 36px;
                    border: none;
                    border-bottom: 3px black solid;
                }

                    .form-values input:focus {
                        outline: none;
                    }

        button {
            margin: 1rem auto;
            width: 300px;
            height:60px;
            font-size: 36px;
            border-radius: 15px;
        }

    .fade {
        display: none;
        opacity: 0;
        -webkit-transition: all 1.25s ease-in;
        -moz-transition: all 1.25s ease-in;
        -ms-transition: all 1.25s ease-in;
        -o-transition: all 1.25s ease-in;
        transition: all 1.25s ease-in;
    }    
        
        .priceOne, .priceTwo {
        padding: .5rem;
        border: 1px solid #1D3354;
        flex-direction: column;
        gap: .75rem;
        color: black;
        width: 33%;
        margin: 1rem auto;
    }

        .priceOne {
            background-color: rgba(242, 132, 130, 0.5);
        }

        .priceTwo {
            background-color: rgba(109, 163, 77, 0.5);
        }

            .priceOne h2, .priceTwo h2 {
                margin: 0;
            }

footer {
    max-height: auto;
    display: flex;
    align-items: center;    
    flex-direction: column;
    margin-top: auto;
    background-color: #E9FFF9;
}

@media only screen 
    and (min-device-width: 375px)
    and (max-device-width: 812px)
    and (-webkit-min-device-pixel-ratio: 2) {        
        .intro, .priceOne, .priceTwo {
            width: 80%;
        }
}